[Unit]
After=pacman-init.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate archlinux manjaro biglinux
ExecStart=/bin/rm -f /var/lib/pacman/db.lck

[Install]
WantedBy=multi-user.target
